@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 7%;
  --foreground: 0, 0%, 93%;
  --prefered-color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
